/*fonts*/
@font-face{
    font-family: bold;
    src: url(fonts/bold.otf);
}
@font-face{
    font-family: thin;
    src: url(fonts/Thin.otf);
}

@font-face{
    font-family: my-sans-serif;
    src: url(fonts/sanSerif.ttf);
}

@font-face{
    font-family: caveat;
    src: url(fonts/Caveat-Regular.ttf);
}

@font-face{
    font-family: benne;
    src: url(fonts/Benne-Regular.otf);
}

@font-face{
    font-family: bevan;
    src: url(fonts/Bevan.ttf);
}

@font-face{
    font-family: caros;
    src: url(fonts/cretype\ \ Caros\ Medium.otf);
}
@font-face{
    font-family: caros_bold;
    src: url(fonts/cretype\ \ Caros\ ExtraBold.otf);
}
@font-face{
    font-family: sackers;
    src: url(fonts/Sackers\ Gothic\ Light\ AT.otf);
}
@font-face{
    font-family: caros_thin;
    src: url(fonts/cretype\ \ Caros\ Thin.otf);
}
@font-face{
    font-family: caros_light;
    src: url(fonts/cretype\ \ Caros\ Light.otf);
}