html{
    scroll-behavior: smooth;
}

*:focus{
    outline: none;
}

.main{
    padding-top: 30px;
    align-items: center;
    justify-content: center;
}

.img_logo{
    display: block;
    width: 20%;
    height: 20%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.nav_div{
    top: 0;
    left: 0;
    width: 50%;
    margin: auto;
    text-align: center;
    position: relative;
}

.nav_button_mouse{
    color: black;
    margin-bottom: 20px;
    background: transparent;
    border-color: transparent;
    font-size: 15px;
    font-family: Thin;
    cursor: pointer;
}

.nav_button{
    color: black;
    margin-bottom: 20px;
    background: transparent;
    border-color: transparent;
    font-size: 15px;
    font-family: Thin;
}

.nav_button_selected{
    margin-bottom: 20px;
    background: transparent;
    border-color: transparent;
    font-size: 12px;
    font-family: Arial;
}

body{
    margin: 0;
    padding: 0;
}

.meet_div1{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
    position: relative;
}

.img_main{
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
}

.meet_dd{
    color: white;
    font-family: bold;
    font-size: 80px;
    text-align: center;
    width: 100%;
    position: relative;
}

.para{
    padding-left: 20%;
    padding-right: 20%;
    font-size: 13px;
    color: white;
}

.desc{
    font-size: 20px;
    color: white;
    font-family: sanSerifbold;
    margin-bottom: 50px;
}

.learn_more{
    background-color: transparent;
    margin-top: 50px;
    font-size: 16px;
    border-width: 0px;
    color: white;
}

.learn_more_mouse{
    background-color: transparent;
    margin-top: 50px;
    font-size: 16px;
    border-width: 0px;
    color: white;
    cursor: pointer;
}

.about{
    top: 0;
    left: 0;
    color: white;
    font-family: bold;
    font-size: 50px;
    position: relative;
    padding-top: 25%;
    padding-left: 5%;
}

.about_div_class{
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
}

.img_about{
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;    
}

.about_desc{
    padding-left: 7%;
    color: white;
    font-family: bold;
    font-size: 15px;
    position: relative;
}

.about_para{
    padding-top: 10px;
    padding-right: 67%;
    font-size: 20px;
    font-family: Thin;
    color: white;
}

.rw_div_class{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.img_recent_works{
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
}

.rw{
    width: 100%;
    height: 100%;
    padding-top: 38%;
    color: white;
    font-family: bold;
    font-size: 50px;
    text-align: center;
    position: relative;
}

.rw_desc{
    text-align: center;
    color: white;
    font-family: sanSerifbold;
    font-size: 12px;
    position: relative;
    padding-bottom: 40px;
}

.rw_img{
    top: 0;
    left: 0;
    padding: 5px;
    width: 12%;
    height: 50%;
    position: relative;    
}

.cu{
    padding-top: 47%;
    font-size: 40px;
    font-family: bold;
    font-weight: bold;
    color: white;
    text-align: center;
    position: absolute;
    padding-left: 60%;
}

.cu_class{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cu_img{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    position: absolute;
}

.cu_desc{
    font-size: 20px;
    font-family:sanSerif;
    color: whitesmoke;
    font-weight: bold;
    padding-bottom: 10px;
}

.contact{
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-family: Thin;
    color: white;
    position: relative;
}

.inputs{
    padding-top: 47%;
    font-size: 20px;
    font-family: bold;
    font-weight: bold;
    color: white;
    text-align: center;
    position: relative;
    padding-left: 10%;
}

.input_class{
    margin: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 15%;
    border-color: transparent;
    border-bottom-color:white;
    border-radius: 4px;
    border-width: 2px;
    color: white;
    background-color: transparent;
    box-shadow: transparent;
    position: relative;
    display: block  ;
}

.input_class_message{
    margin: 25px;
    padding-bottom: 10%;
    padding-left: 10px;
    padding-right: 15%;
    border-color: transparent;
    border-bottom-color:white;
    border-radius: 4px;
    border-width: 2px;
    color: white;
    background-color: transparent;
    box-shadow: transparent;
    position: relative;
    display: block;
}

.submit_class{
    margin-left: 14%;
    position: relative;
    background-color: transparent;
    margin-top: 50px;
    font-size: 16px;
    border-width: 0px;
    color: white; 
    cursor: pointer;  
    display: block; 
}

::placeholder{
    color: whitesmoke;
    opacity: 1;
}


@font-face{
    font-family: bold;
    src: url(bold.otf);
}
@font-face{
    font-family: thin;
    src: url(thin.otf);
}

@font-face{
    font-family: my-sans-serif;
    src: url(sanSerif.ttf);
}