/*padiing btw icon and text*/
html{
    scroll-behavior: smooth;
}
i{
    margin-right: 12px;
}
body{
    background-color: #101010;
    overflow: hidden;
}
/*line animation*/
.right_top{
    margin-top: 6%;
    margin-left: 35%;
    transform: rotate(235deg);
    width: 40%;
    height: 2px;
    background-color: #202020;
    position: fixed;
    animation: animate_right_top 5s forwards;
}

.right_bottom{
    margin-top: 25%;
    margin-left: 80.5%;
    transform: rotate(-32deg);
    width: 21%;
    height: 2px;
    background-color: #202020;
    position: fixed;
    animation: animate_right_bottom 5s forwards;
}

.left_top{
    margin-top: 32.6%;
    margin-left: -4%;
    transform: rotate(34deg);
    width: 29%;
    height: 2px;
    background-color: #202020;
    position: fixed;
    animation: animate_left_top 5s forwards;
}

.left_bottom{
    margin-top: 45%;
    margin-left: 15%;
    transform: rotate(-60deg);
    width: 10%;
    height: 2px;
    background-color: #202020;
    position: fixed;
    animation: animate_left_bottom 5s forwards;
}

/*scroll indicator*/
.progress-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    position: fixed;
    background: transparent;
  }
  
  .progress-bar {
    height: 6px;
    background: #2F88FB;
    width: 0%;
  }

.container{
    padding-top: 40px;
    width: 99%;
    height: fit-content;
    object-fit: cover;
    position: absolute;
    user-select: none;
}

/*home container*/

/*profile classes*/
.profile_top{       
    margin-left: 10%;   
    display: table;
    padding-bottom: 5px;
}
.profileImage{
    width: 50;
    height: 50;
    display: table-cell;
    border-radius: 50%; 
    margin-right: 10px;
}
.name{
    vertical-align: middle;
    display: table-cell;
    font-size: 150%;
    font-family: caros_thin;
    color: white;
}

/*show more class*/
.show_more{
    margin-left: 10.5%;
    margin-top: 15px; 
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5px;
    outline: none;
    font-family: sackers;
    background-color: transparent;
    border: transparent;
    color: white;
    font-size: 100%;
    border-right: 1.5px solid whitesmoke;
    border-left: 1.5px solid whitesmoke;
    border-radius: 5px;
    transition: .3s ease all;
}

.show_more:hover{
    cursor: pointer;
    color: #2F88FB;
}

/*panel classes*/
.panel{
    display: none;
    padding-right: 5.5%;
    width:fit-content;
}
.panel_button{
    background-color: transparent;
    border: transparent;
    color: white;
    outline: none;
    font-size: 100%;
    font-family: sackers;
    margin-right: 15px;
    transition: .3s ease all;
}
.panel_button:hover{
    font-size: 95%;
    cursor: pointer;
    color:#2F88FB;
}
/*show less class*/
.show_less{
    margin-left: 5%;
    position: fixed;
    padding-left: 7%;
    padding-right: 7%;
    outline: none;
    padding-bottom: 5px;
    background-color: transparent;
    border: transparent;
    color: white;
    font-size: 100%;
    border-left: 1.5px solid white;
    border-right: 1.5px solid white;
    border-radius: 5px;
    transition: .3s ease all;
}
.show_less:hover{
    cursor: pointer;
    color: #2F88FB;
}

/*header*/
.header_section{
    padding-bottom: 10px;
}
.name_section{
    display: grid;
    grid-template: 1fr/1fr;
    place-items: center;
    margin-top: 10%;
    position: relative;
    text-align: center;
}
.name_section > *{
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}
.name_section .name_holder{
    z-index: 2;
}
.name_section .profile_holder{
    z-index: 1;
}

.name_holder{
    animation: fade_in 8s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
.profile_holder{
    animation: fade_in 8s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/*home container class*/
.i_am{
    position: relative ;
    font-size: 110%;
    letter-spacing: 5px;
    font-family: caros;
    color: #909090;
}
.main_name{
    position: relative;
    font-size: 320%;
    margin-top: 15px;
    font-family:caros;
    letter-spacing: 7px;
    color: white;
}

.animate_typing{
    animation: fade_in .7s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/*my image*/
.about_division{
    margin-top: 60pt;
    display: table;
}
.img{
    float: left;
    height: 540px;
    width: 370px;
    margin-top: 340pt;
    margin-left: 80pt;
    margin-right: 80pt;
    perspective: 1000px;
    background-color: transparent;
}
.img_holder{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.img:hover .img_holder{
    transform: rotateY(180deg);
}
.image_container{
    height: 100%;
    width: 100%;
    position: absolute;
    float: left;
    border-radius: 20px;
    backface-visibility: hidden;
}
.overlay_container{
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    transform: rotateY(180deg);
}
.header__text{
    margin-top: 135px;
    font-family: caros_light;
    font-size: 25px;
    color: #2F88FB;
}
.__txt{
    padding-top: 10px;
    font-family: caros_light;
    font-size: 15px;
    color: wheat;
}
.image_src{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
ul{
    list-style-position: inside;
}
/*about*/
.about_section{
    float: left;
    width: 43%;
    position: relative; 
    vertical-align: top;
}
.about_container{
    vertical-align: top;
    display: grid;
    width: 100%;
}
.content_holder{
    text-align: left;
    padding-left: 15%;
    margin-top: 42%;
    width: 75%;
}
.desc_holder{
    margin-bottom: 60pt;
    font-family: sans-serif;
}
.content_container{
    margin-bottom: 30px;
}
.content_holder, .about_holder{
    grid-area: 1 / 1;
}
.about_holder{
    width: fit-content;
    height: fit-content;
    text-align: left;
}
.desc{
    font-size: 20pt;
    color: white;
    letter-spacing: 2px;
    font-family: caros;
}
.content{
    color: #5C5C5C;
    font-size: 13pt;
    letter-spacing: 2px;
    font-family:caros;
}

.about_txt{
    color: #252525;
    font-size: 140pt;
    font-family: caros_bold;
}
.resume_container{
    margin-bottom: 30px;
}
.resume_txt{
    font-family: caros;
    font-size: 14pt;
    color: #2F88FB;
    transition: .3s ease all;
    text-decoration: none;
}
.resume_txt:hover{
    color: white;
}
.icon_holder{
    display: block;
    margin-bottom: 30px;
}
.insta_icon{
    display: inline-block;
    margin-right: 10px;
}
.git_icon{
    display: inline-block;
    margin-right: 10px;
}
.linked_icon{
    display: inline-block;
    margin-right: 10px;
}
.twitter_icon{
    display: inline-block;
    margin-right: 10px;
}

.test{
    height: 60px;
    width: 60px;
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.05);
    color: #2F88FB;
    font-size: 30px;
    transition: .3s ease all;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}
.span{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.test:hover{
    color: white;
}
.contact_txt{
    font-family: caros;
    font-size: 15pt;
    color: white;
    text-decoration: none;
}
.contact_txt_holder{
    margin-bottom: 20px;
}
.email_holder{
    margin-bottom: 20px;
}

.mail_no_text{
    font-family: caros_light;
    font-size: 13pt;
    color: grey;
    text-decoration: none;
}

.mail_no{
    cursor: pointer;
    font-family: caros_light;
    font-size: 13pt;
    color: #2F88FB;
    text-decoration: none;
}
/* interest dividion class */
.interest_division{
    margin-top: 160pt;
    text-align: center;
}
.header_txt{
    color: grey;
    font-size: 14pt;
    font-family: caros;
    letter-spacing: 6px;
}
._txt{
    color: white;
    font-size: 25pt;
    font-family: caros_bold;
    letter-spacing: 2px;
}

.fascinate_container{
    display: block;
    text-align: center;
}

.holder{
    margin-top: 80pt;
    display: inline-block;
    margin-left: 40pt;
    margin-right:40pt;
    border-radius: 25px;
    transform: .5s ease all;
}
.icon{
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 20pt;
    margin-bottom: -60px;
    padding: 10pt;
}
.text{
    color: #f1f1f1;
    font-family: caros;
    font-size: 22pt;
}
.overlay{
    width: 300px;
    height: 300px;
    padding: 10pt;
    border-radius: 20pt;
    background-color:rgba(0, 0, 0, .95);
    transition: .5s ease all;
    opacity: 0;
    transform: translate(-4%,-96%);
}
.overlay .text{
    padding-top: 32%;
    font-size: 28pt;
    font-family: caros_bold;
}
.holder:hover .holder{
    opacity: 0.2;
}
.holder:hover .overlay{
    opacity: 1;
}

/* skills */
.skills{
    margin-top: 280pt;
    padding-top: 20pt;
    text-align: center;
}
.skills_container{
    display: block;
    text-align: center;
    margin-top: 20pt;
}
.skill_holder{
    margin-top: 100pt;
    width: fit-content;
    height: fit-content;
    display: inline-block;
    margin-left: 30pt;
    margin-right: 30pt;
    text-align: center;
    transition: .5s all ease;
}
.skill_text{
    color: antiquewhite;
    font-family: caros_light;
    font-size: 27pt;
    margin-right: 10px;
}
.skill_stars_filled{
    margin-left: 10px;
    color: #2F88FB;
    transition: .3s all ease;
}
.skill_stars_unfilled{
    margin-left: 10px;
    color: #2F88FB;
}
.skill_stars_half_filled{
    margin-left: 10px;
    color: #2F88FB;
}
.skill_stars_filled:hover{
    transform: scale(1.2);
}
.skill_holder:hover{
    transform: scale3d(1.1,1.1,1.1)
}

/* education */
.education{
    text-align: center;
    margin-top: 200pt;
    padding-top: 20pt;
    margin-bottom: 100px;
    overflow: hidden;
}

.education_container{
    width: 93%;
    margin-top: 120pt;
    margin-left: 7%;   
    display: block;
}
.college_holder{
    text-align: left;
    display: block;
}
.center_container{
    margin-top: 20pt;
    text-align: center;
    display: inline-block;
}
.right_container{
    margin-top: 20pt;
    text-align: right;
    float: right;
    margin-right: 80pt;
}
._10_holder{
    text-align: left;
}
._12_holder{
    text-align: left;
}
._12_holder .text{
    font-size: 23pt;
    color: whitesmoke;
    font-family: caros;
}
.college_holder .text{
    font-size: 23pt;
    color: whitesmoke;
    font-family: caros;
}
.edu_text{
    margin-top: 10pt;
    font-size: 16pt;
    color: #6C6C6C;
    font-family: caros_light;
}
.tag_text{
    margin-top: 10pt;
    font-size: 12pt;
    color: #5C5C5C;
    font-family: caros_light;
}
.count{
    margin-left: 70pt;
    font-size: 100pt;
    color: #2F88FB;
    font-family: caros_light;
}
.percent{
    font-size: 15pt;
    vertical-align: text-top;
    color: #505050;
    font-family: caros_light;
}

/* projects */
.projects{
    height: fit-content;
    text-align: center;
    margin-top: 100pt;
    padding: 20pt;
}
.projects_container{
    margin-top: 160pt;
    margin-left: 80pt;
}
.project_holder{
    height: 500px;
    width: 100%;
}

.project_image_holder{
    float: left;
    width: 370px;
    height: 100%;
    margin-right: 80pt;
}
.project_image{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .5s ease all;
}
.project_desc{
    margin-top: 70pt;
    height: 100%;
    width: 50%;
    float: left;
    text-align: left;
}
.field{
    font-size: 15px;
    font-family: caros;
    color: #5C5C5C;
}
.project_desc .text{
    font-size: 20pt;
    font-family: caros_light;
    margin-bottom: 35pt;
}

.project_desc .content{
    font-size: 14pt;
    word-spacing: 2px;
    line-height: 30px;
    font-family: caros;
    margin-bottom: 20pt;
}

.more{
    font-size: 14pt;
    font-family: caros_light;
    color: #2F88FB;
    cursor: pointer;
    text-decoration: none;
}
.project_holder_2{
    height: 500px;
    width: 100%;
    margin-top: 80pt;
}
.project_holder_2 .project_desc{
    width: 55%;
    margin-left: 40pt;
    margin-right: 40pt;
}

.project_holder_2 .project_image_holder{
    margin-right: 0pt;
}
.project_holder_2:hover .project_image{
    transform: translateY(-1.5rem);
}
.project_holder:hover .project_image{
    transform: translateY(-1.5rem);
}

/* contact */
.contact{
    text-align: center;
    margin-top: 280pt;
    position: relative;
}
.contact_container{
    margin-left: 80pt;
    margin-right: 80pt;
    margin-bottom: 60pt;
    text-align: center;
}
._contact{
    margin-top: 120pt;
}
.mail{
    font-family: caros_light;
    font-size: 16pt;
    color: wheat;
    user-select:text;
}
#git_{
    opacity: 0;
}
#in_{
    opacity: 0;
}#twit_{
    opacity: 0;
}
#touch .test{
    height: 60px;
    width: 60px;
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.05);
    color: gray;
    font-size: 30px;
    transition: .3s ease all;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

#touch .test:hover{
    color: white;
}

footer{
    text-align: center;
    padding: 10pt;
    margin-left: -10px;
    background-color: rgba(0,0,0,0.4)
}
.footer_txt{
    color: #2F88FB;
    font-family: caros_light;
    font-size: 12pt;
}

.float_icon_holder{
    position: fixed;
    right: 5pt;
    bottom: 40pt;
    text-align: center;
}
.float_icon{
    height: 50px;
    width: 50px;
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.05);
    font-size: 18px;
    transition: .3s ease all;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    display: none;
}
.i{
    color: #2F88FB;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
